@use "@/styles/base/typography.module.scss" as *;

.navbarText {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  gap: 2rem;

  .hoverAnimation {
    width: 0.4rem;
    height: 1rem;
    border-radius: 0 4rem 4rem 0;
    background: #fbfbfb;
    transition: height 0.2s ease-in-out;
  }

  .textIconWrap {
    display: flex;
    width: fit-content;
    align-items: center;
    position: relative;

    .navbarIcon {
      cursor: pointer;
    }

    &:has(.navbarIcon:hover) .navbarTitle {
      opacity: 1;
      transform: translateX(0);
    }

    .navbarTitle {
      position: absolute;
      left: 3rem;
      white-space: nowrap;
      opacity: 0;
      transform: translateX(-10px);
      transition: opacity 0.18s ease-in-out, transform 0.18s ease-in-out;
      margin: 0;
      font-family: var(--font-suite), sans-serif;
      font-weight: 600;
      font-size: 1.6rem;
      color: white;
    }
  }

  &:has(.textIconWrap:hover) .hoverAnimation {
    height: 2rem;
  }
}
