.home {
  position: relative;
  display: flex;
  gap: 20rem;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .feedFlexBox {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: fit-content;
  }
}
