
// MARK: - Common
$common0: #000000;
$common100: #FFFFFF;

// MARK: - Neutral
$netural0: #000000;
$netural5: #0A0A0A;
$netural10: #141414;
$netural15: #1F1F1F;
$netural20: #292929;
$netural25: #333333;
$netural30: #474747;
$netural40: #5C5C5C;
$netural50: #707070;
$netural60: #858585;
$netural70: #999999;
$netural80: #ADADAD;
$netural90: #C4C4C4;
$netural95: #DCDCDC;
$netural97: #E6E6E7;
$netural99: #F7F7F7;
$netural100: #FFFFFF;

// MARK: - Blue
$blue10: #5478F2;
$blue20: #4B6BD9;
$blue30: #425EBF;
$blue40: #3951A6;
$blue50: #2B3D7D;
$blue60: #273873;
$blue70: #233266;
$blue80: #1F2C59;
$blue90: #1B264D;
$blue95: #121A33;
$blue99: #090D1A;

// MARK: - Red
$red10: #FFCCCC;
$red20: #FF9999;
$red30: #FF6666;
$red40: #FF3333;
$red50: #FF0000;
$red60: #E50000;
$red70: #CC0000;
$red80: #B20000;
$red90: #990000;
$red95: #800000;
$red99: #660000;

// MARK: - Green (Tokenly Primary)
$green10: #E8F8E6;
$green20: #B8F0B2;
$green30: #87E97E;
$green40: #6FE065;
$green50: #48D541;  // Tokenly Main Green
$green60: #3BC434;
$green70: #2FA127;
$green80: #247D1F;
$green90: #1A5A17;
$green95: #0F360E;
$green99: #051305;

// MARK: - Yellow
$yellow10: #FFF6CC;
$yellow20: #FFEE99;
$yellow30: #FFE566;
$yellow40: #FFDD33;
$yellow50: #FFD400;
$yellow60: #E5BF00;
$yellow70: #CCAA00;
$yellow80: #B29500;
$yellow90: #998000;
$yellow95: #806B00;
$yellow99: #665500;
